.row {
  padding: 40px;
  width:80%;
  margin: auto;
}

.title {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {

  .header {
    display: flex;
  }

  .row {
    padding: 0 16px;
  }

}

@media screen and (max-device-width: 640px) and (max-width: 640px) {

  .row {
    width:100%;
  }

}